@model DadosUniversitarios.Models.Contrato

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<main class="container py-7">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <!-- Card para centralizar e estilizar -->
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h1 class="h4 mb-0">Editar Contrato</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <!-- Empresa -->
                        <div class="mb-3">
                            <label asp-for="EmpresaId" class="form-label">Empresa</label>
                            <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.EmpresaId"></select>
                        </div>

                        <!-- Servico -->
                        <div class="mb-3">
                            <label asp-for="ServicoId" class="form-label">Serviço</label>
                            <select asp-for="ServicoId" class="form-control" asp-items="ViewBag.ServicoId"></select>
                        </div>

                        <!-- Número contrato -->
                        <div class="mb-3">
                            <label asp-for="NumeroContrato" class="form-label">Contrato</label>
                            <input asp-for="NumeroContrato" class="form-control" />
                            <span asp-validation-for="NumeroContrato" class="text-danger"></span>
                        </div>

                        <!-- Periodicidade -->
                        <div class="mb-3">
                            <label asp-for="PeriodicidadeId" class="form-label">Periodicidade</label>
                            <select asp-for="PeriodicidadeId" class="form-control" asp-items="ViewBag.PeriodicidadeId"></select>
                        </div>

                        <!-- Valor -->
                        <div class="mb-3">
                            <label asp-for="ValorServico" class="form-label">Valor</label>
                            <input asp-for="ValorServico" class="form-control" />
                            <span asp-validation-for="ValorServico" class="text-danger"></span>
                        </div>

                        <!-- Data de pagamento -->
                        <div class="mb-3">
                            <label asp-for="DataPagamento" class="form-label">Dia de pagamento</label>
                            <input asp-for="DataPagamento" type="text" class="form-control" />
                        </div>

                        <!-- Vencimento do contrato -->
                        <div class="mb-3">
                            <label asp-for="VencimentoContrato" class="form-label">Vencimento do contrato</label>
                            <input asp-for="VencimentoContrato" type="date"  class="form-control" />
                            <span asp-validation-for="VencimentoContrato" class="text-danger"></span>
                        </div>

                        <!-- Botões de Ação -->
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-outline-secondary btn-sm">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Salvar
                            </button>                            
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</main>

@section Scripts {
    <script>
        document.getElementById('valor').addEventListener('input', function (e) {
            let value = e.target.value.replace(/\D/g, ''); // Remove caracteres não numéricos
            value = (value / 100).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' });
            e.target.value = value.replace('R$', '').trim(); // Remove "R$" para facilitar a entrada
        });
    </script>
}