@model DadosUniversitarios.Models.Curso

@{
    ViewData["Title"] = "Editar Curso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container py-7">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <!-- Card para centralizar e estilizar -->
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h1 class="h4 mb-0">Editar Curso</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <input type="hidden" asp-for="Id" />                        

                        <!-- Nome -->
                        <div class="mb-3">
                            <label asp-for="Nome" class="form-label">Nome</label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        
                        <!-- Botões de Ação -->
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-outline-secondary btn-sm">
                                <i class="fas fa-arrow-left"></i> Voltar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Salvar
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
